body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a, ul{
    text-decoration: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
header{
    padding-top: 63px;
}
.logo{
    margin-bottom: 40px;
}
.logo a{
    font-size: 80px;
    color: #4BCAFF;
}
.logo span{
    color: #000;
}
.header-menu{
    display: flex;
    height: 72px;
    background-color: #35444F;
    justify-content: center;
}
.header-menu li{
    display: flex;
    flex-basis: auto;
    padding: 0 30px;
    font-size: 24px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.header-menu a{
    display: flex;
    align-items: center;
    color: #fff;
}
.main-content{
    display: flex;
    align-items: stretch;
}
.side-menu{
    width: 344px;
    margin-top: 48px;
    margin-right: 52px;
}
.side-menu ul{
    margin-left: 44px;
    border: 1px solid #000;
}
.side-menu li{
    padding: 25px 40px;
}
.side-menu-item{
    color: #485863;
    font-size: 27px;
    line-height: 27px;
}
.side-menu li:hover{
    background-color: #DBDBDB;
}
.side-menu li:hover a{
    color: #000;
    padding-left: 10px;
}
.header-menu a:hover{
    background-color: #222F3A;
}
.text-container{
    flex-direction: column;
    width: 885px;
    margin-top: 48px;
}
.img-container{
    display: flex;
    height: 530px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.img-container img{
    transition: all .4s ease-in-out;
}
.img-container img:hover{
    transform: scale(1.25);
}
.text-container p{
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 51px;
    height: 70px;
    padding: 0 40px;
    background-color: rgba(99,105,100,.48);
}
.footer-nav ul{
    display: flex;
    width: 875px;
    flex-direction: row;
    padding-right: 135px;
}
.footer-nav p{
    font-size: 24px;
}
.footer-nav a{
    color: #000;
    padding: 0 10px;
    font-size: 28px;
}

.footer-nav a:hover{
    color: #3181A6;
    text-decoration: underline;
}